<div class="col-sm-4 script-tile-wrapper">
  
    <a href="#/script/<%= thisScript.id %>" class="script-tile">
      <div class="script-tile-name">
        <%= thisScript.escape('title') %>
      </div>

      <div class="script-tile-description">
        <%= thisScript.escape('description') %>
      </div>

      <div class="script-tile-overlay">
      </div>
    </a>
  
</div>