<a href="#/script/<%= thisScript.id %>" class="script-tile">
  <div class="script-tile-name">
    <%= thisScript.escape('title') %>
  </div>

  <div class="script-tile-description">
    <%= thisScript.escape('short_desc') %>
  </div>

  <div class="script-tile-overlay">
  </div>
</a>