<div class="row" id="script-info">
  <div class="col-md-8 col-md-offset-1">
    <div class="row" id="script-info">
      <h3><%= thisScript.escape('title') %></h3>
      <div id="author-info">
        by <%= thisScript.escape('user_id') %>
      </div>
    </div>
    <div class="row" id="script-desc">
      <h3>Description:</h3>
      <%= thisScript.escape('description') %>
    </div>

    <div class="row" id="comments">
    </div>
  </div>
</div>
