<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row" id="name-info">
      <span id="name">
        <h2><%= theModel.escape('username') || "Placeholder" %></h2>
      </span>
    </div>
    
    <div class="row" id="users-scripts"></div>
  </div>
  <div class="col-md-2">
    <h2>About Me</h2>
    <table>
      <tbody class="user-info">
        <tr>
          <td><b>Joined Date:</b></td>
          <td>
            <%= theModel.escape('joined') || "???" %>
          </td>
        </tr>
        <tr>
          <td><b>Script Count:</b></td>
          <td>
            <%= theModel.escape('total_scripts') || "???" %>
          </td>
        </tr>
        <tr>
          <td><b>Total Downloads:</b></td>
          <td>
            <%= theModel.escape('total_downloads') || "???" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
