<div class="row script-index-row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 section-title">
        <h2>Latest Scripts</h2>
      </div>
    </div>
    <div id="latest-scripts"></div>
  </div>
</div>

<div class="row script-index-row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 section-title">
        <h2>All Scripts</h2>
      </div>
    </div>
    <div id="all-scripts"></div>
  </div>
</div>