<div class="row" id="latest-script-row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Latest Scripts</h2>
    <div id="latest-scripts"></div>
  </div>
</div>

<div class="row" id="all-script-row">
  <div class="col-md-10 col-md-offset-1">
    <h2>All Scripts</h2>
    <div id="all-scripts"></div>
  </div>
</div>