<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;<span class="sr-only">Close</span></button>
  <p>Welcome to MonkeyScripts where we change the world, one browser at a time.</p>
  <div class="row">
    <div class="col-md-4">
      <h3>Experience...</h3>
      <p>the world, one script at a time.</p>
    </div>
    <div class="col-md-4">
      <h3>Find...</h3>
      <p>that perfect script for your particular needs.</p>
    </div>
    <div class="col-md-4">
      <h3>Create...</h3>
      <p>your vision with our resources and tools.</p>
    </div>
  </div>
</div>